body {
  overflow-y:hidden;
}
.component-wrapper h1, .component-wrapper h2{
  text-transform: none;
}
.component-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #333;
  top: 0;
  left: 0;
  z-index: 99999;
  overflow-y: hidden;
}
.menu-overlay{
  position:absolute;
  color: #fff;
  top:30%;
  font-family: "Merriweather", serif;
  z-index: 100000;
  text-align:center;
  line-height:100%;
  width:100%;
  font-size:6em;
  transition: visibility ease 0.3s, opacity 0.3s ease;
}
.identity-menu {
  height:100%;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
.menu-overlay > .subheader{
  font-size:0.2em;
  font-family: "Lato", sans-serif;
}
.menu-overlay > img{
  width:13vw;
  margin-bottom:-20px;
}
.kwicks{
  height:100%;
  width:100%;
}
.kwicks > a{
  height: 100%;
  transition: background-color 0.4s ease;
  /* overridden by kwicks but good for when JavaScript is disabled */
  width: 150px;
  margin-left: 5px;
  float: left;
  background-color: #888;
  background-blend-mode: multiply;
  text-decoration:none;
}

.title-text{
  font-weight: 700;
  margin:20vh auto 0 auto;
  text-align: center;
  display:block;
  color:#fff;
  opacity: 0;
  transition: opacity 0.3s ease 0;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.51);
}
.title-text > h1{
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  margin-bottom:0;

}
.title-text > h2{
  font-family: "Merriweather", serif;
  font-weight: 200;
  font-size: 2.1em;
  margin-top:0.5em;
}
.cole { background: url(http://interactive.thegazelle.org/identity/img/cole_tanigawa_lau.jpg);}
.zoe { background: url(http://interactive.thegazelle.org/identity/img/zoe_hu.jpg); }
.allanah { background: url(http://interactive.thegazelle.org/identity/img/allanah-alexandra_avalon.jpg); }
.nick { background: url(http://interactive.thegazelle.org/identity/img/nick_chaubey.jpg); }
.sam { background: url(http://interactive.thegazelle.org/identity/img/sam_ball.jpg); }
.sebastian { background: url(http://interactive.thegazelle.org/identity/img/sebastian_rojas_cabal.jpg); }
.tom { background: url(http://interactive.thegazelle.org/identity/img/tom_klein.jpg); }
.panel-article {
  background-size: cover;
  background-position: center;
}
.icon-circle-down {
  margin-top:10vh;
  font-size: 3em;
  font-weight:100;
  transform: translate(0,20px);
  -webkit-animation: bounce 0.5s infinite alternate;
  -moz-animation: bounce 0.5s infinite alternate;
  animation: bounce 0.5s infinite alternate;
}

/*Article Styling*/
.article-container{
  height:auto;
  transition: opacity 0.5s ease, visibility ease 0.5s, transform 0.5s ease;
  opacity:0;
  transform: translate(0,20px);
  background-color: #fff;
  padding:0!important;
}
.article-container > .hero {
  height:82vh;
  background-size: cover!important;
  background-position: center!important;
}
.article-container > .essay {
  font-family: "Merriweather", serif;
  width:100%;
  max-width: 615px;
  margin: 0 auto;
  padding: 2em 0;
  line-height: 1.6;
  font-size:1.3em;
  font-weight: 200;
  color: #000;
}
.article-container > .essay > p {
  margin: 2em 0;
}
.article-container > .essay a {
  text-decoration: none;
  color:#009575;
  border-bottom: 0 solid #009575;
  transition: border 0.3s ease;
}
.article-container > .essay > .footnote {
  font-size:1em;
  font-style: italic;
}
.article-container > .essay > .editornote {
  font-size: 1.2em;
  font-style: italic;
}
.article-container > .back {
  position: fixed;
  width: 100vw;
  height: 3vh;
}
.bauhaus {
  font-family: "Bauhaus", sans-serif;
  font-weight: bold;
  font-size:1.3em;
}
.article-container > .back > div {
  text-align: center;
  margin: 0 auto;
  height: 100%;
  color: #fff;
  padding-top:2em;

}
.article-container > .back i {
  font-size: 3em;
  text-shadow: 0px 0px 3px rgba(77, 77, 77, 0.8);
  transition: text-shadow 0.4s ease;
  cursor: pointer;
}
@media screen and (min-width: 981px){
  .identity-menu:hover > .menu-overlay{
    opacity:0;
    visibility:hidden;
  }
  .kwicks > a:hover{
    background-color: #ddd;
    cursor: pointer;
  }
  .kwicks a:hover > span{
    opacity:1;
    transition: opacity 0.5s ease 0.5s;
  }
  .article-container > .essay a:hover {
    border-bottom: 3px solid #00D7A9;
  }
  .article-container > .back i:hover{
    text-shadow: 0px 0px 6px rgba(77, 77, 77, 1);
  }
}
@media screen and (max-width: 980px){
  .kwicks a>span {
    opacity:1;
  }
  .menu-overlay {
    position: inherit;
    margin: 20px auto;
    font-size: 3em;
  }
  .menu-overlay > img {
    width: 20vw;
    margin-bottom: 0px;
  }
  .menu-overlay > .subheader {
    font-size:0.3em;
  }
  .title-text {
    margin: 27% auto 0 auto;
  }
  .title-text > h1 {
    font-size: 3em;
  }
  .title-text > h2 {
    font-size: 2em;
  }
  .icon-circle-down{
    font-size: 3em;
  }
  .article-container > .back i {
    font-size: 3em;
    text-shadow: 0px 0px 11px rgba(87, 87, 87, 1);
  }
  .article-container > .essay {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.2em;
  }
  .bauhaus {
    font-size: 1.3em;
  }
}
@-webkit-keyframes bounce { 0% {transform: translate(0,20px);} 100% {transform: translate(0, 30px);} }
@-moz-keyframes bounce { 0% {transform: translate(0,20px);} 100% {transform: translate(0, 30px);} }
@keyframes bounce { 0% {transform: translate(0,20px);} 100% {transform: translate(0, 30px);} }
